@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pixel: var(--font-vt323);
  --font-mono: var(--font-ibm-plex-mono);
}

@theme {
  --color-primary-50: #c0c4e5;
  --color-primary-100: #687cd3;
  --color-primary-200: #4164b7;
  --color-primary-300: #30538c;
  --color-primary-400: #243d66;
  --color-primary-500: #0f1e39;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-mono), "Courier New", Courier, monospace;
}

@layer utilities {
  .clip-slant-right {
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 0% 100%);
  }
}
